*.a
*.dSYM
*.dir
*.dylib
*.kdev4
*.log
*.o
*.orig
*.solib
*.sqlite
*.swp
.DS_Store
.idea/*
.pidfile
/bin
/build
/cmake-build-debug/
/out
/s3proxy-runtime/
/temp/
CmakeLists.txt.user
GPATH
GRTAGS
GTAGS
cache/
lemon
libs
perf.data
perf.data.old
/.vs
/.vscode
CMakeSettings.json
/.flatpak-builder
.cache/
/s3proxy-runtime/
/doxygen
Doxyfile
# Python virtualenv
/venv/
/CMakeUserPresets.json
