// Adapted from https://gist.githubusercontent.com/eladkarako/b2eba8ea8e8e6a2a54cc14a9a5f5a198/raw/a7520e3141b4a184158073eb6595d52ded6c38ce/VERSIONINFO.rc

// This file is intended for inclusion from other .rc files: ensure required blanks have been filled in
#ifndef PEP_EXE_FILENAME
# error Define PEP_EXE_FILENAME before including this file.
#endif
#ifndef PEP_EXE_DESCRIPTION
# error Define PEP_EXE_DESCRIPTION before including this file.
#endif
#ifndef PEP_VERSION_MAJOR
# error Define PEP_VERSION_MAJOR before including this file.
#endif
#ifndef PEP_VERSION_MINOR
# error Define PEP_VERSION_MINOR before including this file.
#endif
// Include headers required for the preprocessing in this file
#include <pep/utils/BuildFlavor.hpp>
#include <Windows.h> // Needed for some resource-related macros: see a.o. https://stackoverflow.com/a/17781224
#include <boost/preprocessor/cat.hpp>
#include <boost/preprocessor/stringize.hpp>

// Make VERSIONINFO fields fit in 16 bits, see https://learn.microsoft.com/en-us/windows/win32/menurc/versioninfo-resource & https://gitlab.pep.cs.ru.nl/pep/core/-/issues/1341
// Note: Windows doesn't complain when it would be too large, it just truncates it.
#if (PEP_VERSION_BUILD -1 == -1) // Local development version
# define PEP_VER_BUILD 0
#else // Gitlab CI build
# define PEP_VER_BUILD PEP_VERSION_BUILD
#endif

#if (PEP_VERSION_REVISION -1 == -1) // Local development version
# define PEP_VER_REVISION 0
#else // Gitlab CI build
# define PEP_VER_REVISION PEP_VERSION_REVISION
#endif

// XXXVERSION directives must be delimited by commas
// We don't include the revision (i.e. CI job number, which is a 400k+ value) in PEP_VERSION_NUM because it doesn't fit the 16 available bits
#define PEP_VERSION_NUM PEP_VERSION_MAJOR,PEP_VERSION_MINOR,PEP_VER_BUILD

// "XxxVersion" strings must be delimited by full stops (periods)
#define PEP_VERSION_STR BOOST_PP_STRINGIZE(PEP_VERSION_MAJOR.PEP_VERSION_MINOR.PEP_VER_BUILD.PEP_VER_REVISION)

// Settings related to localization
#define PEP_LOC_LANGUAGE_ENGLISH        0409
#define PEP_LOC_CHARSET_MULTILINGUAL    04E4
#define PEP_LOC_LANGUAGE                PEP_LOC_LANGUAGE_ENGLISH
#define PEP_LOC_CHARSET                 PEP_LOC_CHARSET_MULTILINGUAL

// Define a VERSIONINFO resource as documented on https://docs.microsoft.com/en-us/windows/win32/menurc/versioninfo-resource
VS_VERSION_INFO VERSIONINFO
FILEVERSION     PEP_VERSION_NUM
PRODUCTVERSION  PEP_VERSION_NUM // Note that "ProductVersion" string (below) is used for file -> Properties -> Details
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#if PEP_BUILD_HAS_DEBUG_FLAVOR()
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0x0L
#endif
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK BOOST_PP_STRINGIZE(BOOST_PP_CAT(PEP_LOC_LANGUAGE, PEP_LOC_CHARSET))
    {
      VALUE "CompanyName",      "Radboud University"
      VALUE "FileDescription",  PEP_EXE_DESCRIPTION
      VALUE "FileVersion",      PEP_VERSION_STR // Note that FILEVERSION fixed-info field (above) is used for file -> Properties -> Details
      VALUE "InternalName",     PEP_EXE_FILENAME
      VALUE "LegalCopyright",   "Copyright Radboud University. All rights reserved."
      VALUE "ProductName",      "Polymorphic encryption and pseudonymisation for personalised healthcare"
      VALUE "OriginalFilename", PEP_EXE_FILENAME ".exe"
      VALUE "ProductVersion",   PEP_VERSION_STR
      VALUE "CompanyShortName", "RU"
      VALUE "ProductShortName", "PEP"
    }
  }

  BLOCK "VarFileInfo"
  {
    VALUE "Translation", BOOST_PP_CAT(0x, PEP_LOC_LANGUAGE) BOOST_PP_CAT(0x, PEP_LOC_CHARSET)
  }
}
